*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* background: #000; */
}

.container-face{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    /* height: 500px; */
    margin: 0 auto;
    /* background-color: red; */
    align-content:space-between;
    justify-content:space-between
}

.face{
    width:calc((100% / 7) - 3px);
    height:calc(((100vh - 60px) / 5) - 3px);
    /* background-color: yellow; */
    border: 1px solid black;
    background: url('../img/giphy.gif') no-repeat;
    background-size: contain;
    /* display: flex; */
    align-items: flex-end;
    
    position:relative;
}

.col-w{
    color: white;
}

.face img{
    width: 100%;
    height: 100%;
}

.testo{
    position: absolute;
    bottom: 5px;
}

.face .testo{
    background-color: #0000007a;
}


footer{
    /* height: 100px; */
    display:flex;
    justify-content: space-between;
    width: 100%;
    background:#333;
    /* align-self:flex-end; */
}

.footer{
    display:flex;
    /* border: 1px black solid; */
    justify-content: space-between;
    /* height: 60px; */
    align-items: center;
}

.button-left, .button-right, .button{
    display:flex;
    align-items: center;
    /* color: #fff; */
}

.icon{
    text-align:center;
}


.icon .icon-image{
    font-size: 20px;
}


.up{
    margin: 0 10px;
    font-size: 10px;
}

.footer-left{
    width: 150px;
    margin-left: 5px;
}

.footer-center{
    width: 400px;
}

.footer-right button{
    width:90px;
    color: red;
    background: yellow;
    border-width: 0;
    height: 100%;
}

.face .testo span, .footer .icon span, .footer button{
    font-size: x-small;
}